@tailwind base;
@tailwind components;
@tailwind utilities;

a.button,
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfdfdf), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dfdfdf, #ffffff);
  background: -o-linear-gradient(#ffffff, #dfdfdf);
}
